/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
  line-height: 1.5;
  font-weight: $font-weight-normal;
}
img {
  object-fit: cover;
}
