<section class="pt-14">
  <div class="container">
    <!-- BTN TITLE TAB 列 -->
    <div class="row">
      <div class="col">
        <h2 class="text-center text-primary fw-medium">立即預約</h2>
      </div>
    </div>
    <div class="row pt-4 pb-9">
      <div class="col-4 col-md-2 offset-md-3">
        <a
          class="btn btn-light btn-radius w-100"
          href="reservation-choose.html"
          role="button"
          >選擇方案</a
        >
      </div>

      <div class="col-4 col-md-2">
        <a
          class="btn btn-light btn-radius w-100"
          href="reservation-form.html"
          role="button"
          >填寫資料</a
        >
      </div>

      <div class="col-4 col-md-2">
        <a
          class="btn btn-light btn-radius w-100"
          href="reservation-done.html"
          role="button"
          >完成預約</a
        >
      </div>
    </div>
  </div>
</section>
