$utilities: map-merge(
  $utilities,
  (
    "viewport-height": (
      responsive: true,
      property: height,
      class: vh,
      values: (
        80: 80vh,
        90: 90vh,
        100: 100vh,
      ),
    ),
    "position": (
      responsive: true,
      property: position,
      class: position,
      values: static relative absolute fixed sticky,
    ),
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        5: 5%,
        10: 10%,
        20: 20%,
        90: 90%,
        95: 95%,
        100: 100%,
      ),
    ),
    "height": (
      responsive: true,
      property: height,
      class: h,
      values: (
        13: 13.215rem,
        21: 21.875rem,
      ),
    ),
  )
);
