.link-hover-white {
  &:hover {
    color: $white;
  }
}
.btn-light {
  color: $info;
  &:hover {
    background-color: $primary;
    border: 1px solid transparent;
    color: $light;
  }
}

.btn-radius {
  border-radius: $border-radius-lg;
}
