.link-hover-white {
  &:hover {
    color: $white;
  }
}
.btn-secondary {
  color: $white;
  &:hover {
    background-color: $primary !important;
    border: 1px solid transparent;
    color: $white;
  }
}
.btn-light {
  color: $info;
  &:hover {
    background-color: $secondary !important;
    border: 1px solid transparent;
    color: $white;
  }
}

.btn-radius {
  border-radius: $border-radius-lg;
}
