.card {
  border-radius: 1rem;
  &-active {
    border: 4px solid $secondary;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0.25rem;
  }
  &-img {
    border-radius: 1rem;
    &-top {
      border-radius: 1rem 1rem 0 0;
      @include mobile {
        border-radius: 1rem 0 0 1rem;
      }
      @include desktop {
        border-radius: 1rem 1rem 0 0;
      }
    }
    &-m {
      height: 12.25rem;
      object-fit: cover;
      object-position: 50% 65%;
    }
    &-l {
      height: 15rem;
      object-fit: cover;
      // 順序 : x軸 y軸
      object-position: center;
    }
    &-xl {
      height: 21.25rem;
      object-fit: cover;
      // 順序 : x軸 y軸
      object-position: center;
    }
  }
  &-image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  &-body {
    padding: 1.5rem;
  }
}
